li.postinfo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1{
    text-align: center;
}
@media (max-width: 600px) {
    .postinfo{
        flex-direction: column;
    }
    ul{
        padding: 0;
    }
}