:root {
  --dark          : hsla(359, 25%, 5%, 0.9);
  --light         : hsla(359, 25%, 98%, 0.9);
  --theme         : var(--dark);
  --anti-theme    : var(--light);
  --accent        : hsla(313, 79%, 55%, 0.979);
  color           : var(--anti-theme);
  background-color: var(--theme);
  font-family     : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  /*font-size     : 62.5%;*/
}

header {
  grid-area       : header;
  text-align      : center;
  position        : sticky;
  background-color: var(--accent);
  top             : 0;
  width           : 100%;
  left            : 0;
}
.info {
  grid-area : info;
  text-align: center;
}
nav {
  grid-area    : nav;
  padding-left : 2rem;
  padding-right: 2rem;
  font-size    : 1.5rem;
  line-height  : 3;
  border-right: 1px solid var(--accent);
}

nav li {
  list-style-type: circle;
}
a {
  color          : var(--anti-theme);
  text-decoration: none;
  text-transform : lowercase;
}
li.active {
  list-style-type: disc;
}
a:focus,
a:hover {
  color           : blue;
  background-color: var(--accent);
}

main {
  grid-area  : main;
  padding    : 2rem;
  font-size  : 1.5rem;
  line-height: 1.7;
}

body {
  display              : grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas  :
    "header header"
    "info main"
    "nav main";
  margin: 0;
}

@media (max-width: 800px){
  body {
    display   : grid;
    /*grid areas cannot be L-shaped; they must be rectangular*/
    grid-template-areas:
      "header header"
      "info info"
      "main main"
      "nav nav";
    grid-template-rows: 1fr 0.5fr 5fr 1fr;
    height: 100%;
  }
  main, main *{
    padding-top: 0;
    margin-top: 0;
  }
  nav{
    border-top: 0.1rem solid var(--accent);
  }
  nav ul{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 0;
    font-size: 18px;
  }
  nav ul li{
    list-style-type: none !important;
  }
  li.active a{
    border-bottom: 1px solid var(--accent);
  }
}
a.nostyle, a.nostyle:hover{
  text-transform: none;
  color: inherit;
}
