---
permalink: "/all-posts/"
dynamicPermalink: false
layout: wrapping
title: All posts
date: Last Modified
---
style
  include:cssmin /allposts.css
h1 Here are all of my posts
.postinfo
  p.header Title 
  p.header Published 
  p.header Tags
  each post in collections.posts 
    - var title = post.data.title || post.fileSlug
    - var date = post.date.toLocaleDateString()
    - var tags = post.data.tags || "none"
    if title && date
      p.title
        a(href=post.url)
          =title
      p.date #{date}
      p.tags #{tags}
